<% @masters.each do |master|%>
<p>
  <strong>Name:</strong>
  <%= master.name %>
</p>
<p>
    In Category: <%= master.category.name %>
</p>
<%= link_to 'Edit', edit_master_path(master) %> |
<%= link_to 'Back', masters_path %>
<% end %>
