<div class ="container">
  <h1> Вы владелец сайта! </h1>
  <%= link_to 'Log in', new_user_session_path %>
  <%= link_to 'Sign in', new_user_registration_path %>
  <% if current_user %>
   <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <% end %>
</div>
